html {
    --white: #fff;

    --gray-light: #E6E6E6;
    --gray: #C4C4C4;
    --gray-dark: #AEAEAE;
    --gray-darken: #6A757C;
    --black: #000000;

    --color-primary: #0085F9;
    --color-secondary: #E2F9FF;
    --color-danger: #911F35;
    --color-danger-bg: #FDD7DA;
    --color-danger-border: #FCC6CB;
    --color-accept: #00A550;

    --font-size: 1rem;
}